.advantages {
  width: 100%;
  padding: 96px 0 104px;
  background-color: $white;

  &__title {
    font-size: 14px;
    font-weight: 300;
    color: #5c5c5c;
    line-height: 1.8;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    user-select: none;
  }

  &__subtitle {
    font-size: 48px;
    font-weight: 400;
    color: $black;
    line-height: 1.15;
    user-select: none;
  }

  &__slider {
    &-wrapper {
      align-items: flex-end;
      .item {
        height: 700px;
        display: flex;
        flex-direction: column;

        &:nth-child(1) {
          .item__inner {
            margin-top: auto;
          }
          .item__front {
            height: 450px;
          }
        }

        &__inner {
          border-radius: 32px;
          overflow: hidden;
          position: relative;
          border: 1px solid transparent;

          @media (hover: hover) {
            &:hover {
              border: 1px solid $black;

              .item__back {
                opacity: 1;
                visibility: visible;
                pointer-events: all;

                &-title,
                &-text,
                &-link {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
        }

        &__front {
          height: 700px;
          position: relative;

          &-icon {
            position: absolute;
            top: 40px;
            left: 40px;
            z-index: 2;
          }

          &-img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }

          &-title {
            font-size: 36px;
            font-weight: 400;
            color: $white;
            line-height: 1.25;
            position: absolute;
            left: 40px;
            right: 40px;
            bottom: 40px;
            z-index: 2;
          }
        }

        &__back {
          width: 100%;
          height: 100%;
          padding: 50px 40px;
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 0;
          left: 0;
          background-color: $white;
          z-index: 2;

          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          transition: all 0.3s;

          &-title {
            font-size: 36px;
            font-weight: 400;
            color: $black;
            line-height: 1.25;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
          }

          &-text {
            margin-top: 24px;
            font-size: 18px;
            font-weight: 300;
            color: #313131;
            line-height: 1.5;
            letter-spacing: 0.36px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
          }

          &-link {
            margin-top: auto;
            width: 100%;
            height: 57px;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            font-size: 18px;
            font-weight: 500;
            color: $black;
            line-height: 1.4;
            letter-spacing: 0.36px;
            text-transform: uppercase;
            border-radius: 50px;
            border: 1px solid $black;
            background-color: $white;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .advantages {
    &__slider {
      margin-top: 32px;
      &-wrapper {
        .item {
          height: auto;

          &:nth-child(1) {
            .item__inner {
              margin: 0;
            }
            .item__front {
              height: auto;
            }
          }

          &__front {
            height: auto;

            &-img {
              height: 230px;
              position: relative;
              top: auto;
              left: auto;
              right: auto;
              bottom: auto;
            }

            &-bot {
              padding: 24px 24px 72px;
              border: 1px solid $black;
              border-top: none;
              border-radius: 0 0 32px 32px;
            }

            &-title {
              position: relative;
              right: auto;
              left: auto;
              bottom: auto;
              font-size: 32px;
              color: $black;
            }
          }

          &__back {
            display: none;
            &-text {
              margin-top: 20px;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}
